mixin category(category)
  li.list-group-item(id=category.name, style="background-color: #2C2F33;") #[i(class=category.icon)] #{category.name}

mixin command(command)
  li(id=command.name + 'Command').list-group-item(class=command.category) #{command.name}