#sidebar
  a(href='/dashboard')
    .icon.round(data-toggle='tooltip', data-placement='right', title=user.username)
      img.round(alt=user.username, src=user.avatarUrl(64))
  hr.sidebarHr
  each guild in guilds
    a(href='/servers/' + guild.id)
      .icon.round(data-toggle='tooltip', data-placement='right', title=guild.name)
        if guild.icon
          img.round(alt=guild.name, src=guild.iconURL({ dynamic: true, size: 64 }))
        else
          p.text-center.abbr #{guild.nameAcronym}
  a(href='/invite')
    .icon.round.add-guild(data-toggle='tooltip', data-placement='right', title="Add a server")
      p.text-center.invite.pt-0.d-flex.justify-content-center.flex-column +
  .hamburger.px-1
    i.fas.fa-bars